<launch>

<!-- add the xarm launch here -->

  <node name="camera_node" pkg="pepper_ws" type="camera_tf.py" output="screen"/>


  <node name="manipulation" pkg="manipulation" type="manipulation" respawn="false" output="screen">
  </node>

  <!-- add perception stuff here -->

  <node name="system_node" pkg="system_ws" type="state_machine_main" respawn="false" output="screen">
  </node>

</launch>